# Docker Compose constructs DATABASE_URL from this database password.
DB_PASSWORD="change_this_database_password"

# AUTH_SECRET is used to sign session cookies (JWT)
AUTH_SECRET="change_this_to_a_long_random_string_min_32_chars"

CRON_SECRET="change_this_to_another_long_random_string"
MAP_PROVIDER="OPENFREEMAP"

# Webhook Auth
# OFF | OPTIONAL | REQUIRED
# Default fallback: OFF in development, REQUIRED in production
AUTH_MODE="REQUIRED"
